<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file='base/head'}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form ajax_post" action="{$_self_}">
            <div class="layui-form-item">
                <label for="remarks" class="layui-form-label">
                    <span class="x-red">*</span>栏目名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info['name']|default=''}"></div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    栏目描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="desc" autocomplete="off" class="layui-input" value="{$info['desc']|default=''}"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>所属栏目</label>
                <div class="layui-input-inline">
                    <select id="shipping" name="pid" class="valid">
                        <option value="0">顶级栏目</option>
                        {volist name="lists" id="vo"}
                        <option value="{$vo.id}" {if isset($info['pid'])&&$info['pid']==$vo['id'] }selected{/if} {if !getChildCate($vo.id)}disabled{/if} >{for start="0" end="$vo.level"} &nbsp;&nbsp;&nbsp;&nbsp; {/for}{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="desc" class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea" >{$info['desc']|default=''}</textarea>
                </div>
            </div>
<div class="layui-form-item">
    <label for="L_repass" class="layui-form-label"></label>
    <button class="layui-btn" lay-filter="add" lay-submit="">提交</button></div>
</form>
</div>
</div>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

    });</script>
</body>

</html>