<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file="base/head" /}
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">商品管理</a>
                <a>
                    <cite>商品列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="top_kind" lay-select id="top_kind" lay-filter="top_kind">
                                <option value="0">全部</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="second_kind" lay-select id="second_kind" lay-filter="second_kind">
                                <option value="0">全部</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="third_kind" lay-select id="third_kind">
                                <option value="0">全部</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入名称" autocomplete="off" class="layui-input"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加商品','./order-add.html',800,600)">
                        <i class="layui-icon"></i>添加商品</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" lay-filter="test" id="book_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
    layui.use(['layer', 'table', 'form'], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#book_table'
            ,url:'get_book_data'
            ,cols:[[
                {field:'id',title:'ID',sort:true}
                ,{field:'name',title:'名称',sort:true}
                ,{field:'author',title:'作者',sort:true}
                ,{field:'desc',title:'描述'}
                ,{field:'type',title:'类别'}
                ,{field:'num',title:'数量',sort:true}
                ,{field:'price',title:'价格',sort:true}
                ,{field:'test',title:'操作',templet:function (d) {
                        return '<a title="编辑" href="javascript:;"><i class="layui-icon">&#xe642;</i></a>' +
                            '<a title="删除" href="javascript:;"><i class="layui-icon">&#xe640;</i></a>';
                    }}
            ]]
            ,id:'tableRelod'
            ,page:{
                group:3,
            }
            ,done:function (res,cuur,count) {
                if(res['msg']){
                    layer.msg(res['msg']);
                }
                if(count == 0){
                    layer.msg('无数据');
                }
            }
        })

        //动态加载select1
        $(function () {
            $.ajax({
                type: "POST",
                //提交的网址
                url: "get_book_type",
            //     //返回数据的格式
                datatype: "json",//“xml”, “html”, “script”, “json”, “jsonp”, “text”.
            //     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            //     //成功返回之后调用的函数
                success: function (data) {
                    var json = $.parseJSON(data);
                    $.each(json, function (index, item) {
                        $('#top_kind').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                    });
                    form.render("select");
                }, error: function () {
                    layer.msg("商品类别读取失败");
                }
            });
        });

        //select联动(监听select1)
        form.on('select(top_kind)',function (data) {
            console.log(data.value);
            $("#second_kind").find('option').remove();
            if(data.value == 0){
                return 0;
            }
            $.ajax({
                type: "POST",
                //提交的网址
                url: "get_book_type",
                data:{
                  id:data.value,
                },
                //     //返回数据的格式
                datatype: "json",//“xml”, “html”, “script”, “json”, “jsonp”, “text”.
                //     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                //     //成功返回之后调用的函数
                success: function (data) {
                    var json = $.parseJSON(data);
                    $.each(json, function (index, item) {
                        $('#second_kind').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                    });
                    // console.log(data);
                    form.render("select");
                }, error: function () {
                    layer.msg("商品类别读取失败");
                }
            });
        })

    });

</script>

</html>