<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file="base/head" /}
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">商品管理</a>
                <a>
                    <cite>商品列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="contrller">
                                <option>全部</option>
                                <option>经典文学</option>
                                <option>诗歌歌剧</option>
                                <option>学习教育</option>
                                <option>小说大全</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="contrller">
                                <option value="">全部</option>
<!--                                <option value="0">待确认</option>-->
<!--                                <option value="1">已确认</option>-->
<!--                                <option value="2">已收货</option>-->
<!--                                <option value="3">已取消</option>-->
<!--                                <option value="4">已完成</option>-->
<!--                                <option value="5">已作废</option>-->
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="contrller">
                                <option value="">全部</option>
                                <!--                                <option value="0">待确认</option>-->
                                <!--                                <option value="1">已确认</option>-->
                                <!--                                <option value="2">已收货</option>-->
                                <!--                                <option value="3">已取消</option>-->
                                <!--                                <option value="4">已完成</option>-->
                                <!--                                <option value="5">已作废</option>-->
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入名称" autocomplete="off" class="layui-input"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加商品','./order-add.html',800,600)">
                        <i class="layui-icon"></i>添加商品</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" lay-filter="test" id="book_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['layer', 'table', 'form'], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#book_table'
            ,url:'get_book_data'
            ,cols:[[
                {field:'id',title:'ID'}
                ,{field:'name',title:'名称'}
                ,{field:'author',title:'作者'}
                ,{field:'desc',title:'描述'}
                ,{field:'num',title:'数量'}
                ,{field:'price',title:'价格'}
            ]]
            ,id:'tableRelod'
            ,page:{
                group:3,
            }
            ,done:function (res,cuur,count) {
                if(res['msg'] !=''){
                    layer.msg(res['msg']);
                }
                if(count == 0){
                    layer.msg('无数据');
                }
            }
        })
    });

</script>

</html>