<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        {include file="base/head" /}
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">系统管理</a>
                <a>
                    <cite>操作日志</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" placeholder="请输入操作者" autocomplete="off" class="layui-input" id="search"></div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn btn-search" >
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                            <table id="logs_table" lay-filter="test"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script>
        layui.use('laydate',
        function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

        });
    </script>
    <script>
        layui.use('table', function() {
            table = layui.table;
            var content = '';
            table.render({
                elem: '#logs_table'
                ,where:{
                    name: $('#search').val(),
                }
                ,url:'get_log_data'
                ,cols:[[
                    {field: 'id', title: 'ID',sort: true}
                    ,{field: 'name', title: '操作者',sort: true}
                    ,{field: 'logs', title: '动作'}
                    ,{field: 'create_time', title: '时间',sort: true}
                ]]
            });
        });


    </script>
</html>